<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.firefingers21.resolutionchanger</string>
	<key>connections</key>
	<dict>
		<key>0292824A-1364-412F-8E6A-B43DA9CED533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B6FF671-8D59-45CF-AF4C-9BBAD984D623</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>← Return to Display Selection</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3279200F-1A1C-4FD6-9716-694670CA8C47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E0D0A13-3319-4D65-8D7E-F6D36766CE81</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Remove from Favourites</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>22CE7B03-416D-44D0-90BC-802D992CE290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B6FF671-8D59-45CF-AF4C-9BBAD984D623</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3279200F-1A1C-4FD6-9716-694670CA8C47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D25E46D-A5C5-4133-BFBA-9022BFA35316</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>333372AE-35E1-44F9-9A64-51D8B037CACF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED3F02F9-3804-4A12-BB8B-ECC4CF71F191</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E0D0A13-3319-4D65-8D7E-F6D36766CE81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5AA120E-E43F-4770-9018-59ABF334DDB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97F26CA9-51B0-47EF-8140-D75E4BE148C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0292824A-1364-412F-8E6A-B43DA9CED533</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60A7758D-709D-4319-ABF6-ADC804138BB4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open Displays in System Settings</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>994948A8-2CD0-409B-A74C-BEA9216F9602</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>855C55E1-E72A-4C41-BA92-5CCE16FF1F1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5AA120E-E43F-4770-9018-59ABF334DDB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>855C55E1-E72A-4C41-BA92-5CCE16FF1F1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED3F02F9-3804-4A12-BB8B-ECC4CF71F191</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>994948A8-2CD0-409B-A74C-BEA9216F9602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E5AA120E-E43F-4770-9018-59ABF334DDB9</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>← Return to Favourites Selection</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FireFingers21</string>
	<key>description</key>
	<string>Quickly change the resolution of your displays</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Resolution Changer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>getDisplays</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6B6FF671-8D59-45CF-AF4C-9BBAD984D623</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>22CE7B03-416D-44D0-90BC-802D992CE290</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>displayplacer "id:${persistentID} mode:${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D25E46D-A5C5-4133-BFBA-9022BFA35316</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:resolution_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/getDisplays.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>getDisplays</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>97F26CA9-51B0-47EF-8140-D75E4BE148C6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/getFavourites.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>showFavourites</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0292824A-1364-412F-8E6A-B43DA9CED533</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>addFavourite</string>
						<key>outputlabel</key>
						<string>Resolution</string>
						<key>uid</key>
						<string>333372AE-35E1-44F9-9A64-51D8B037CACF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Favourite</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3279200F-1A1C-4FD6-9716-694670CA8C47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/addFavourite.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>994948A8-2CD0-409B-A74C-BEA9216F9602</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/getResolutions.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED3F02F9-3804-4A12-BB8B-ECC4CF71F191</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>showFavourites</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>855C55E1-E72A-4C41-BA92-5CCE16FF1F1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-apple.systempreferences:com.apple.Displays-Settings.extension</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>60A7758D-709D-4319-ABF6-ADC804138BB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/removeFavourite.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E0D0A13-3319-4D65-8D7E-F6D36766CE81</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E5AA120E-E43F-4770-9018-59ABF334DDB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

This workflow requires [displayplacer](https://github.com/jakehilborn/displayplacer) to function, which can be installed [via Homebrew](https://formulae.brew.sh/formula/displayplacer).

## Usage

Search for available displays with the `resolution` keyword. Select a display to modify its resolution.

![Searching for displays](images/about/keyword.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Show resolutions for selected display
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open Displays settings in System Settings

Select a resolution to activate it, or add a new resolution to favourites. Resolutions must be favourited before they can be activated.

![Searching for favourites](images/about/favouritesView.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Activate favourited resolution
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Delete favourited resolution
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Return to Display Selection

Choose from the list of available resolutions to add as a favourite. Type to filter. The current resolution is always listed first.

![Searching for resolutions](images/about/resolutionsView.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Add resolution to favourites
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Return to Favourites Selection

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as a faster shortcut to change resolutions.

**Note**: When adding favourites, it may be easier to first set the resolution in System Settings, then favourite the current resolution from the workflow as shown above.</string>
	<key>uidata</key>
	<dict>
		<key>0292824A-1364-412F-8E6A-B43DA9CED533</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Favourites Selection</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>22CE7B03-416D-44D0-90BC-802D992CE290</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>3279200F-1A1C-4FD6-9716-694670CA8C47</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>60A7758D-709D-4319-ABF6-ADC804138BB4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open System Settings</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>6B6FF671-8D59-45CF-AF4C-9BBAD984D623</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Return to Displays</string>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>855C55E1-E72A-4C41-BA92-5CCE16FF1F1E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Return to Favourites</string>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>8D25E46D-A5C5-4133-BFBA-9022BFA35316</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Change Resolution</string>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>8E0D0A13-3319-4D65-8D7E-F6D36766CE81</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Remove Favourite</string>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>97F26CA9-51B0-47EF-8140-D75E4BE148C6</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Main Action &amp; Keyword</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>994948A8-2CD0-409B-A74C-BEA9216F9602</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Add Favourite</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>E5AA120E-E43F-4770-9018-59ABF334DDB9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>ED3F02F9-3804-4A12-BB8B-ECC4CF71F191</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Select New Favourite</string>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>resolution</string>
				<key>placeholder</key>
				<string>resolution</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Resolution Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>resolution_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Bypass Display Selection</string>
			</dict>
			<key>description</key>
			<string>Optionally bypass the display selection screen if only one display is connected</string>
			<key>label</key>
			<string>Keyword Behaviour</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>runImmediately</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Sort Displays</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Results Sorting</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sort_displays</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Sort Favourites</string>
			</dict>
			<key>description</key>
			<string>Choose whether to sort results by usage</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sort_favourites</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.1</string>
	<key>webaddress</key>
	<string>https://github.com/FireFingers21/alfred-resolution-changer</string>
</dict>
</plist>
